mixin sHowWorks(data)
	// start sHowWorks
	+b.SECTION.sHowWorks.section#sHowWorks&attributes(attributes)
		.container
			+b.section-title
				h2 Как это работает?
			.h3.strong Суть торговой стратегии – правильно подобранные акции, в которых именно сегодня есть наибольший потенциал к падению.
			p Из 11000 акций американского рынка каждый день появляются 5-20 акций с таким потенциалом. Больше половины из них дают возможность заработать.
			mixin item(t,p)
				+e.col.col-lg-6
					+e.item
						.h4.strong= t
						if p
							p= p
			+e.row.row
				+item(`Находить такие акции очень легко. Это делается в пару кликов мышки с помощью скринера.`, `Вы можете находить список потенциальных акций в любое время торговой сессии и даже несколько раз за день.`)
				+item(`Главная уникальность акций, найденных с помощью моего способа, в том, что их падение происходит медленно.`, `Это дает возможность торговать спокойно, ведь Вам не надо ловить быстрый всплеск цены.`)
			.h3.strong.mb-4 Такие акции появляются ежедневно в большом количестве.
			+e.row.row
				+item(`Совершайте несколько сделок в день и увеличивайте свою прибыль`)
				+item(`Делите депозит на несколько акций и уменьшайте свои риски.`)
			.h3.strong.mb-4 Это вальяжная торговля без нервов и суеты:
			ul
				li #[strong Не надо спешить к началу торговой сессии], можно торговать в удобное для Вас время.
				li #[strong Не надо караулить импульс на графике], можно заниматься своими делами, изредка поглядывая в монитор.
				li #[strong Не надо обладать специальными навыками], вход в сделку и выход из нее настолько простые, что их трудно пропустить.
			+e.inner
				.h4.strong Это лучшая система для получения прибыли из всех, что я знаю!
				p Она простая и приносит прибыль каждый день. 50% акций, которые Вам покажет скринер, дают возможность заработать. А набрать в short падающих акций Вы можете до 10 штук в день.
				a.btn.btn-primary(href="#sForm") Хочу зарабатывать без нервов и суеты
	// end sHowWorks