mixin sPossibleToEarn(data)
	// start sPossibleToEarn
	+b.SECTION.sPossibleToEarn.section#sPossibleToEarn&attributes(attributes)
		.container
			+b.section-title
				h2 Возможно ли зарабатывать  в&nbsp;трейдинге каждый день
			.h4.text-primary.ttu.strong СПОКОЙНО и БЕЗ НЕРВОВ?
			.h6.strong Представьте:
			+e.inner.clearfix
				+img("img/sPossibleToEarn-img.png") 
				ul
					li Вы приходите вечером домой, открываете торговый терминал, делаете несколько кликов мышки и получаете список из 5-10 акций, 
						strong половина из которых сегодня ТОЧНО упадут.
					li Вам не нужно караулить эти акции у компьютера. #[strong Вы занимаетесь домашними делами], периодически поглядывая в торговый терминал.
					li Когда акция подаст сигнал на открытие сделки, Вам не надо торопиться. #[strong У Вас есть много времени для принятия решения]. Вы открываете Short-сделку (сделку на падение) и спокойно забираете #[strong.text-warning 5% прибыли].
					li Затем либо закрываете терминал, либо продолжаете отслеживать падение других акций.
					li Через пару часов можно повторить действия с самого начала, найти новый список акций-кандидатов на падение, и заработать еще денег.
				+e.footer Так можно делать весь вечер, до самого закрытия рынка. Находить падающие акции пачками и забирать от 3% до 10% прибыли.

	// end sPossibleToEarns