mixin sCharacteresticks(data)
	// start sCharacteresticks
	+b.SECTION.sCharacteresticks.section#sCharacteresticks&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Характеристики #[span Нейробота]
				
			mixin tr(t)
				tr
					td
						h4!= t
					td
							block
			table
				+tr(`Рынки:`)
					+e.inner
						.label NYSE
						.label NASDAQ
					| Акции, по которым брокер разрешает торговлю в short.
				+tr(`Минимальный депозит`)
					| от 200$.
				+tr(`4 способа входа в сделку`) 
					ul
						li #[strong самый простой для чайников] – с помощью индикатора RSI;
						li #[strong простой для тех, кто готов ждать] – с помощью индикатора VWAP;
						li #[strong продвинутый для тех, кто хочет забирать максимум прибыли] – с помощью понимания механики рынка;
						li #[strong продвинутый упрощенный], максимум прибыли с однозначным сигналом – с помощью индикатора MACD.
					| Важное преимущество торговой системы – можно пропустить вход и войти в сделку позже.
				+tr(`Выход из сделки`) 
					| по правилам торговой системы, либо по стоп-лоссу.
				+tr(`Необходимо времени`) 
					ul
						li от 1 часа в день;
						li торговая сессия с 16-30 МСК (летнее время);
						li можно торговать не каждый день;
						li можно торговать в любое удобное время до конца торговой сессии.
				+tr(`Средняя длительность сделки`) 
					| 10-30 минут
			.h3.mt-4.mb-5 Смотрите, как выглядит торговля по стратегии на реальном рынке

			+e.row.row
				.col-lg-6
					+e.video-item
						iframe(src="https://kinescope.io/e2XNJwJpavG2tdvfcveMaD")
					
				.col-lg-6
					+e.video-item
						iframe(src="https://kinescope.io/2CoZJRViBWw4zcEafmSN9V")
			.text-center
				a.btn.btn-primary(href="#sForm") Жмите, чтобы получить доступ к торговой стратегии
			.section-title
				h2 Как получить доступ  <br> к американским акциям?
			table
				+tr(`Если Вы из РФ`)
					+e.inner
						p Брокер Just2Trade – самый простой способ получить доступ к рынку США для россиян.
						ul
							li зарекомендовал себя многолетней работой, как надежный брокер;
							li хорошо понимает запросы российских клиентов;
							li дает доступ ко всем необходимым акциям;
							li дает бесплатный торговый терминал MetaTrader 5;
							li нет проблем с вводом-выводом денег.
						p Как еще получить доступ к акциям США, если Вы не из тех, кто ищет легкие пути?
						ul
							li российский брокер Финам. Требуется статус квалифицированного инвестора, ограниченный список акций.
							li американский брокер Interactive Brokers. Есть трудности с вводом-выводом                     денег из РФ.
				+tr(`Если Вы не из РФ`)
					+e.inner
						p Подойдет любой брокер, который даст Вам полный доступ к акциям рынков NYSE и NASDAQ.
						ul
							li Just2Trade
							li Interactive Brokers
							li Freedom24
							li и т.д.
			.text-center
				a.btn.btn-primary(href="#sForm") Хочу зарабатывать на падении акций США
	// end sCharacteresticks