// start .sFinish
.sFinish {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	&__inner {
		background-image: url(../img/sInvent-bg.jpg);
		padding: rem(64) 1rem;
		text-align: center;
		border-radius: rem(40);
		margin-top: rem(80);
	}

	&__item-wrap {
		background-image: linear-gradient(
			100.54deg,
			$warning 1.51%,
			$primary 48.79%,
			$warning
		);
		border-radius: 20px;
		box-shadow:
			0 4px 250px rgba(117, 4, 4, 0.31),
			inset 0 17px 47.5px rgba(0, 0, 0, 0.44);
		margin-bottom: 4.5rem;
		overflow: hidden;
		padding: 16px;
		position: relative;
		&:before {
			background: linear-gradient(0deg, $primary, rgba(28, 28, 32, 0));
			bottom: 0;
			content: "";
			display: block;
			height: 90px;
			left: 0;
			pointer-events: none;
			position: absolute;
			right: 0;
			width: 100%;
			z-index: 4;
		}
	}
	&__item {
		@include media-breakpoint-up(md) {
			column-count: 2;
		}
	}
	&__item-scroll {
		@include custom-scroll;
		// background-image: linear-gradient(
		// 	100.54deg,
		// 	$warning 1.51%,
		// 	$primary 48.79%,
		// 	$warning
		// );
		border-radius: 20px;
		height: 594px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 10px;
		position: relative;
		scrollbar-color: var(--bs-primary) transparent;
		scrollbar-width: auto;
	}

	.review-item {
		cursor: pointer;
		margin-bottom: 2rem;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
		.def-slider .swiper {
			max-width: rem(1100);
		}
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sFinish
