// start .sHowStudy
.sHowStudy {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(32)};
		margin-bottom: 64px;
	}
	.section-title {
	}
	&__col {
	}
	&__item {
		background: linear-gradient(93.08deg, #ffeef8 0%, #fff0db 98.33%);
		border-radius: 40px;
		padding: 40px;
	}

	&__border-block {
		margin-bottom: 64px;
		background: linear-gradient(45deg, var(--bs-primary), var(--bs-warning));
		border-radius: 24px;
		padding: rem(40);
		position: relative;

		z-index: 2;
		&:before {
			background-color: #fff;
			border-radius: inherit;
			content: "";
			inset: 1px;
			position: absolute;
			z-index: -1;
		}
	}

	.label {
		border-radius: rem(8);
		padding: rem(4) rem(8);
		display: inline-block;
		font-weight: bold;
		&.bg-primary {
			color: #fff;
		}
	}
	&__head {
		font-weight: bold;
		.row {
			align-items: center;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sHowStudy
