mixin sHowStudy(data)
	// start sHowStudy
	+b.SECTION.sHowStudy.section#sHowStudy&attributes(attributes)
		.container
			+b.section-title
				h2.mb-2 Как я буду учиться?
				.h3.text-primary Онлайн-тренинг «Ленивый Шорт»
			+e.row.row
				.col-lg-6
					+e.item 
						.h3 Онлайн —
						p значит, что обучение будет проходить на онлайн-занятиях с возможностью сразу задавать вопросы. Записи всех занятий будут доступны Вам навсегда.
				.col-lg-6
					+e.item 
						.h3 Тренинг —
						p значит, что это будет практическое обучение на реальном рынке, с разборами сделок, моей поддержкой и обратной связью по Вашей торговле.
			.h4 значит, что это будет практическое обучение на реальном рынке, с разборами сделок, моей поддержкой и обратной связью по Вашей торговле.
			//- mixin border-block()
			mixin tr(t)
				tr
					td
						h4!= t
					td
							block
			+e.border-block
				+e.head
					.row
						.col.text-secondary Блок 1
						.col-sm-auto.row

							.col-auto 4 декабря 2024
							.col-auto
								.label.bg-primary Онлайн-занятие
							.col-auto
								.label.bg-warning Запись
					.h3.text-primary Вводная часть
				table
					+tr(`Брокерский вопрос  для новичков`)
						+e.inner
							ul
								li Кто такой брокер?
								li Как выбрать брокера, который дает полный доступ к рынкам NYSE и NASDAQ?
								li Как выбрать брокера нерезиденту РФ?
								li Брокер для резидента РФ. Как открыть брокерский счет?
								li Как установить торговую платформу?
								li Как настроить торговую платформу? Шаблон для настройки платформы.
								li Покупка/продажа акций. Short-сделки. Выставление ордеров.
								li Как решить вопрос задержки котировок?
								li Ввод-вывод денежных средств на счет.
					+tr(`Первичный отбор акций`)
						+e.inner
							ul
								li Как отобрать акции для работы, которые сегодня могут упасть в цене?
								li Как определить возможность работы в short у брокера?
								li Обзор скринера TradingView для быстрого отбора акций.
								li Настройки скринера, позволяющие быстро находить список потенциальных акций.
				p По итогам первой части Вы научитесь самостоятельно находить список акций, на которых можно заработать. Вы получите домашнее задание с простейшим способом входа в сделку и выхода. Уже на этом этапе Вы сможете начать практику на реальном рынке и даже заработать первые деньги.

				p Мы сделаем небольшой перерыв перед стартом основного обучения, чтобы Вы могли попрактиковаться и привыкнуть к новому для себя способу торговли.
			+e.border-block
				+e.head
					.row
						.col.text-secondary Блок 2
						.col-sm-auto.row

							.col-auto с 16 по 27 декабря 2024
							.col-auto
								.label.bg-primary 6 онлайн-занятий
							.col-auto
								.label.bg-warning Запись
					.h3.text-primary Основная программа тренинга
				table
					+tr(`Основные понятия`)
						+e.inner
							ul
								li Чем мы торгуем, особенности падающих акций.
								li Какие результаты можно получать?
								li Виды графиков.
								li Понятие «уровень 0».
								li Первичная волатильность.
								li Основные индикаторы.
								li Система быстрой торговли.
								li Главные аксиомы для успеха.
					+tr(`Вход в сделку`)
						+e.inner
							ul
								li Точка входана падение.
								li Простейшие входы для новичков.
								li Вход по индикатору RSI.
								li Вход по индикатору VWAP.потенциальных акций.
					+tr(`Интуитивная торговля`)
						+e.inner
							ul
								li Цель в интуитивном входе.
								li Базовые понятия.
								li Виды максимумов.
								li Как ставить Стоп-ордер.
								li Поведение вершин растущих акций.
								li Нюансы падающего графика.
								li Работа с максимумом.
								li Работа с волнами.
								li Упрощение интуитивной торговли. Вход по индикатору MACD
					+tr(`Выход из сделки`)
						+e.inner
							ul
								li Основной принцип.
								li Выход по индикатору.
								li Выход по СТОПУ.
					+tr(`Опасности`)
						+e.inner
							ul
								li Флэт – как распознать и что делать.
								li Прочие опасности, которые уберегут Вас от лишних убыточных сделок.
								li Как ставить алерты?
					+tr(`Итоги`)
						+e.inner
							ul
								li Работа с мотивацией.
								li Сбор стратегии воедино.
								li Разбор Ваших вопросов
				p По итогам второго блока обучения Вы получите все нюансы торговой системы и будете готовы к реальной торговле

				
			+e.border-block
				+e.head
					.row
						.col.text-secondary Блок 3
						.col-sm-auto.row

							.col-auto с 16 по 27 декабря 2024

							//- .col-auto
							//- 	.label.bg-primary 6 онлайн-занятий
							//- .col-auto
							//- 	.label.bg-warning Запись
					.h3.text-primary Тренировка насмотренности
				
				p Важный шаг перед тем, как отправиться зарабатывать деньги на реальном рынке – натренировать насмотренность.

				p Акции, отобранные по системе «Ленивый Шорт», имеют уникальную особенность – они ведут себя одинаково в течение одного дня.

				+e.item.text-center.my-4
					.h3 В третьем блоке Вы получите #[span.text-primary более 350 примеров] сделок  
						br
						| с указанием тикера и даты сделки.
				p У Вас есть уникальный шанс прожить самостоятельно каждый из этих примеров в побарном режиме – когда Вы отматываете график на начало торгового дня, а потом просматриваете вперед бар за баром, принимая торговые решения, как в реальной торговле.

				p Выделите несколько дней на такую тренировку. После нее Вы станете настоящим мастером торговли в шорт и уже ничего не сможет помешать Вашему успеху в реальных торгах.
			+e.border-block
				+e.head
					.row
						.col.text-secondary Блок 4
						.col-sm-auto.row

							.col-auto январь – март 2025

							.col-auto
								.label.bg-primary Онлайн-занятия
							.col-auto
								.label.bg-warning Рабочий Телеграм-канал
					.h3.text-primary Мастер-группа
				
				p В качестве кульминации обучения Вас ждет 3 месяца практического сопровождения на реальном рынке.

				+e.item.text-center.my-4
					.h3 В третьем блоке Вы получите #[span.text-primary более 350 примеров] сделок  с указанием тикера и даты сделки.
				ul
					li #[strong Каждые 2 недели мы будем собираться в прямом эфире:] обсуждать рынок, сделки и Ваши отчеты.
					li #[strong Каждый день я буду выкладывать потенциальные акции] в рабочем Телеграм-канале.
					li #[strong Каждый день после торговой сессии] буду разжевывать логику своих точек входа и выхода. Для Вас это будет лучшим практическим обучением и опорой в реальных торгах.
					li #[strong Буду оказывать поддержку и отвечать на Ваши вопросы] в группе Инфоклуба. Вы сможете присылать мне скриншоты своих сделок и советоваться со мной по торговым ситуациям.
					li #[strong За эти 3 месяца я помогу Вам разобраться со всеми дополнительными вопросами], которые неизбежно появляются во время практической торговли.
			.text-center
				a.btn.btn-primary(href="#sForm") Получить доступ в онлайн-тренинг «Ленивый Шорт»

	// end sHowStudy