// start .headerBlock
.headerBlock {
	--sPT: #{rem(30)};
	// --sPB: #{rem()};
	--sTPB: #{rem(60)};
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	position: relative;
	z-index: 2;

	h1 {
		text-transform: uppercase;
		line-height: 0.9;
		margin-bottom: 0.4em;
		font-weight: 700;
	}
	.container {
		z-index: 2;
		position: relative;
		.head-img {
			@include media-breakpoint-up(lg) {
				position: absolute;
				top: -20%;
				right: rem(-350);
				pointer-events: none;
				max-height: calc(100% + 260px);
				z-index: -1;
				margin: 0;
				max-width: 140%;
			}
			max-width: 160%;
			margin: -15% -20% -5% -50%;
		}
	}
	.section-title {
		max-width: rem(800);
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	p {
		@include rfs(28px);
		margin-bottom: rem(46);
		font-weight: bold;
		max-width: 550px;
	}
	.section-title {
		position: relative;
		z-index: 2;
	}

	.btn {
		width: 100%;
		max-width: rem(372);
		margin-bottom: rem(110);
	}

	@include media-breakpoint-up(xl) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
}
