mixin sQA(data)
	// start sQA
	+b.SECTION.sQA.section#sQA&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые #[span вопросы]
			+ddGroup
				+ddGroupItem('Какие знания должны быть на старте?')
					p Тренинг подходит как для абсолютных новичков, так и для продвинутых трейдеров.

				+ddGroupItem('Стратегия работает только на американских акциях?')
					p Да.

				+ddGroupItem('Можно ли практиковаться на демо-счете?')
					p Да, можно практиковаться на демо-счете Just2Trade.
				+ddGroupItem('Какой минимальный депозит необходим для начала торговли?')
					p От 200$.

				+ddGroupItem('Сколько времени надо уделять трейдингу?')
					p От 1 часа в день в любое время после 16:30 МСК. Можно торговать не каждый день, а только в те дни, когда Вам удобно.
				+ddGroupItem('Есть ли рассрочка на обучение?')
					p Да, есть несколько видов рассрочки. Заполните форму выше и выберите версию участия, чтобы узнать подробнее и выбрать вариант рассрочки.

				+ddGroupItem('Если у меня есть основная работа, могу ли я зарабатывать по этой торговой стратегии?')
					p Конечно! Торговую стратегию всегда можно подстроить под свой темп жизни. Когда американская торговая сессия открывается, в европейской части РФ вечер, поэтому можно торговать после работы. 
					p Плюс, Вы не привязаны к началу торговой сессии и можете спокойно начинать торговать в любое время до закрытия рынка. 
					p Но будьте осторожны! Затягивает так, что трейдинг может стать вашей основной деятельностью

				+ddGroupItem('Насколько сложна торговая система? Боюсь, что я не справлюсь')
					p Торговая система очень простая, главное – четко ей следовать.
					p Бывает, ученику кажется система слишком простой. Он начинает ее докручивать. Наворачивает, а потом начинает терять деньги. В итоге приходит ко мне на индивидуальное обучение, чтобы я его удержал в рамках изначальной простейшей системы.
					p Система простая, но не надо в нее больше ничего вносить.

				+ddGroupItem('Можно ли торговать с мобильного телефона?')
					p Я рекомендую торговать с компьютера. 
					p С мобильного телефона торговать можно, если у Вас большой экран и хорошее зрение, чтобы разглядеть индикаторы и график цены.



	// end sQA