// start .sAdv
.sAdv {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		display: grid;
		@include media-breakpoint-up(md) {
			gap: rem(100) rem(100);
		}
		gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	}
	img {
		margin-bottom: 1rem;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAdv
