mixin sAdv(data)
	// start sAdv
	+b.SECTION.sAdv.section#sAdv&attributes(attributes)
		.container
			+b.section-title
				h2.mb-0 Больше преимуществ с «Ленивый Шортом»
				.h3.text-primary Еще больше аргументов, почему успех в одном шаге от Вас:
			+e.row
				+e.item
					img(src="img/svg/calendar-1.svg", alt="")
					p #[strong Торговля только внутри дня]. Никаких ночных волнений и неожиданных потерь.
					
				+e.item
					img(src="img/svg/circle-dollar-sign.svg", alt="")
					p #[strong Высокая доходность] позволяет торговать не каждый день, а только тогда, когда Вам удобно.
				+e.item
					img(src="img/svg/star.svg", alt="")
					p #[strong Авторская торговая система], аналогов которой нет ни в Интернете, ни в книгах по трейдингу.
				+e.item
					img(src="img/svg/fast-forward.svg", alt="")
					p #[strong Быстрая отдача]. Начните зарабатывать уже во время обучения.
				+e.item
					img(src="img/svg/book-audio.svg", alt="")
					p #[strong Минимум информации для запоминания]. Никаких сложных паттернов, формул и индикаторов.
				+e.item
					img(src="img/svg/chart-column-decreasing.svg", alt="")
					p #[strong Работает в любых условиях рынка. Кризисы и падения – лучшее время для заработка.] А когда рынок растет, среди 11000 акций всегда есть те, которые сегодня падают.

	// end sAdv