extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug 
include ../blocks/topLine/_topLine.pug
include ../blocks/footer/_footer.pug 

include ../blocks/sPossibleToEarn/_sPossibleToEarn.pug 
include ../blocks/sMyName/_sMyName.pug 
include ../blocks/sInvent/_sInvent.pug 
include ../blocks/sHowWorks/_sHowWorks.pug 
include ../blocks/sWillItWork/_sWillItWork.pug 
include ../blocks/sHowMuchEarn/_sHowMuchEarn.pug 
include ../blocks/sCharacteresticks/_sCharacteresticks.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sHowStudy/_sHowStudy.pug
include ../blocks/sArguments/_sArguments.pug
include ../blocks/sAdv/_sAdv.pug
include ../blocks/sOneStep/_sOneStep.pug

include ../blocks/sQA/_sQA.pug 
include ../blocks/sFinish/_sFinish.pug 
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+topLine
	main
		+headerBlock
		+sPossibleToEarn
		+sMyName
		+sInvent
		+sHowWorks
		+sWillItWork
		+sHowMuchEarn
		+sCharacteresticks
		+sAbout
		+sHowStudy
		.dark-block
			+sArguments
			+sAdv
			+sOneStep
		+sQA
		+sFinish
	+footer