mixin sInvent(data)
	// start sInvent
	+b.SECTION.sInvent.section#sInvent&attributes(attributes)
		.container
			+b.section-title
				p Приглашаю Вас на онлайн-тренинг
				h1 Ленивый Шорт
				h2 Стабильные деньги на падении  американских акций
				
			ul
				li #[strong Очень просто], подходит для новичков в трейдинге.
				li #[strong Нет спешки], подходит для вальяжной торговли.
				li #[strong Можно работать в любое время американской торговой сессии], подходит для занятых людей.
				li #[strong Можно торговать несколько раз за день], подходит для тех, кто хочет много заработать.
				li #[strong Трудно пропустить вход в сделку], подходит для тех, у кого не получается зарабатывать в других видах трейдинга.
				li #[strong Сделки каждый день], подходит для тех, кто ищет стабильность.
			+e.inner
				+e.text Вас ждет понятное обучение, простая пошаговая торговая система и&nbsp;моя поддержка в&nbsp;реальной торговле.
				a.btn.btn-primary(href="#sForm") Начать обучение прямо сейчас
	// end sInvent