mixin sArguments(data)
	// start sArguments
	+b.SECTION.sArguments.section#sArguments&attributes(attributes)
		.container
			+b.section-title
				.h3.text-primary.mb-0 Еще сомневаетесь?
				h2 Аргументы, почему ТОЧНО получится:
				
			+e.row
				mixin item(t, p)
					+e.item
						.h4= t
						div= p
				+item(`Это действительно просто`,`Вы получите пошаговую торговую систему, с которой справится даже чайник. Вход в сделку настолько очевидный, что его трудно пропустить.`)
				+item(`Эмоции Вам не помешают`,`Здесь нет «американских горок», как в импульсном стиле трейдинга. Вместо них – спокойная и вальяжная работа. Зарабатывайте деньги уверенно, а эмоции оставьте для реальной жизни.`)
				+item(`Ваша занятость тоже не помеха`,`Здесь не надо караулить резкий взлет, и Вы не привязаны к началу торговой сессии. Вы можете спокойно работать в любое время торгов на американском рынке.`)
				+item(`Возможные ошибки прощаются`,`Пропустили вход? Не беда. Акции падают медленно, можно войти позже, либо найти новые акции для работы – их много каждый день.`)
				+item(`Боитесь убытков?`,`Да, стопы периодически срабатывают и приводят к убыточным сделкам. Но в одной прибыльной сделке Вы окупаете от трех до семи убыточных. Причем, по статистике прибыльных сделок в 3 раза больше.`)
				+item(`Понятное обучение с нуля`,`Не нужны никакие начальные знания и навыки, это доступно реально каждому. Я проведу Вас по всем шагам за руку – от базовых знаний, до реальной практики.`)
				+item(`Моя личная поддержка`,`Несмотря на групповой формат обучения, я стараюсь уделить внимание каждому ученику. Ваши успехи важны для меня так же, как и мои собственные.`)
				+item(`Четкие пошаговые инструкции`,`Каждый шаг торговой системы прост и однозначен. Нет места догадкам и неопределенности. Вы точно будете знать, что, когда и как делать.`)

			+b.inner-block.text-center
				.h4 Поверьте в себя и начните зарабатывать реальные деньги 
					br
					| уже на этой неделе!
				a.btn.btn-white(href="#sForm") Получите торговую систему «Ленивый Шорт» прямо сейчас
	// end sArguments