mixin sWillItWork(data)
	// start sWillItWork
	+b.SECTION.sWillItWork.section#sWillItWork&attributes(attributes)
		.container
			+b.section-title
				h2 Будет ли эта стратегия работать, когда рынок США перестанет падать и вернется к росту?
				.h3.strong.mb-5 Конечно, да!
				p На рынке США 11000 акций. Даже в те дни, когда весь рынок растет на хороших новостях, всегда есть акции, которые в этот день падают. Стратегия позволяет эти акции находить в 2 щелчка.

				p: strong Проверено и подтверждено публичной статистикой.
	// end sWillItWork